<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body class="bg-sky-400">

    <h1>hello world and index!!!!11 :0 </h1>
    <h1>Вот список товаров. Выбери что интресно !!!!</h1>
    <h2>
        {% comment %} <a href="/myapp/hello/{{item.id}}/">  {% endcomment %}
        {% for item in items %}
        <a href="{% url 'myapp:detail' item.id %}">                                                  
        ID: {{item.id}} | ИМЯ: {{item.name}}  <br/>
        <a>
        {% endfor %}
    </h2>
    <h2>  dgdgdgdg  </h2>
</body>

</html>