{% load static %}
    <nav class="bg-white shadow-lg">
		<div class="max-w-6xl mx-auto px-4">
			<div class="flex justify-between">
				<div class="flex space-x-7">
					<div>
						<a href="#" class="flex items-center px-2 py-4">
						<img class="h-8 w-8 mx-3" src="{% static 'myapp/images/shopping.png' %}" alt="logo"  />
						<span class="text-gray-700  font-semibold font-serif text-2xl">Smart Shop</span>
						</a> 
					</div>
					<div class="items-center flex space-x-1">
						<a href="/myapp/" class="py-4 px-2 text-gray-500 font-semibold  hover:bg-gray-200">Home</a>
						<a href="#" class="py-4 px-2 text-gray-500 font-semibold">About</a>
						<a href="#" class="py-4 px-2 text-gray-500 font-semibold">Contacts</a>
                        <a href="#" class="py-4 px-2 text-gray-500 font-semibold">Place</a>
						<a href="/myapp/additem/" class="py-4 px-2 text-gray-500 font-semibold  hover:bg-gray-200">Add item</a>
						<a href="/admin/" class="py-4 px-2 text-gray-500 font-semibold hover:bg-gray-200">Admin</a>
					</div>
				</div>
			</div>
		</div>
	</nav>