{% extends "myapp/base.html" %}

{% block content %}
    <br>
     <div class="flex flex-col md:flex-row justify-normal items-center mt-16">
            <div class="">
            {% load static %}
                <img class="h-40 w-40 mx-10" src="{% static 'myapp/images/logout.png' %}" alt="Контакты" class="rounded-lg">
            </div>
            <div class="md:w-1/2 md:ml-8">
                <h2 class="text-2xl font-bold text-green-700">Ждём вас снова!</h2>
                <ul class="list-disc ml-6">
                    <li>Хорошего</li>
                    <li>Вам</li>
                    <li>Дня</li>
                    <li>♡</li>
                </ul>
            </div>
        </div>
{% endblock content %}